@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

body {
  font-family: Avenir;
  font-size: 14px;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 80px;
}
